:root{
    --marron:#4E3727;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif; 
   /*  box-shadow: inset 0px 0px 0px 1px rgba(255, 81, 0, 0.13) */
}
ul{list-style: none;}
a{text-decoration: none;}
img{max-width:100%;}



/* header------------------------- */
header{
    background-color:rgba(250, 246, 246, 0.979);
  
}
.containerheader{
    display: grid;
    grid-template-columns: 19% 15% 1fr 19%;
    grid-template-areas:
        ". logo nav ."
        ;
    align-items: center;
    justify-content:space-between;
    height: 100px;
    /* padding:0 10px */
}
.logo{
    grid-area: logo;
    display:inline;
    /* background-color:white; */
    
}
.nav{
    grid-area: nav;
   /*  height: 50px; */
   /*  background-color:white; */ 
  /*  flex-wrap: wrap; */
}
.nav ul {
    display: flex;
    justify-content: end;
    /* gap:20px */
}
.nav ul li{
    
    padding:10px;
    color: gray;
    font-size: 0.8rem;
    gap: 1px;
    border:2px solid rgba(128, 128, 128, 0)
}
.nav ul li:hover{
    cursor: pointer;
    border: 2px solid gray;
   
}

/* container------------------- */

.container{
    display: grid;
    grid-template-columns: 19% 1fr 1fr 19%;
    grid-template-areas: 
    ". main main ."
    "footer footer footer footer";
    /* padding: 0px 10px; */
    background-color: rgba(255, 155, 108, 0.541);
}
/* main */
main{
    grid-area: main;
    background-color: white;
  /*   padding: 0px 10px; */
   
}
/* sobre______________________________ */
.sobre{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-areas:
        "sobre-texto sobre-texto sobre-contato"
        ;
    gap: 50px;
    margin:30px 0 30px 0;
}
.sobre-texto{
    grid-area:sobre-texto;
    
}
.sobre-texto p:first-child{
    font-size: 1.5rem;
    color: var(--marron);
    margin-bottom: 20px;
    
}
.sobre-texto p{
    font-size:0.8rem;
    line-height:1.2rem;
    color: gray;
}
.sobre-contato{
    padding: 10px;
    border: 1px solid;
    background-color:var(--marron);
}
.sobre-contato p,span{
    color: white;
}
.sobre-contato button{
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    box-shadow: 1px 1px 1px black;
    box-shadow: 0px 2px 1px black;
}
/* negocio_________________________________ */
.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "negocio-foto1 negocio-foto2 negocio-foto3" 
        ;
       /*  justify-content:center; */
       align-items: center;
       justify-content: center;
   
}

.negocio-foto1{
    grid-area:negocio-foto1;
   
}

.negocio-foto2{
    grid-area:negocio-foto2;
}
.negocio-foto3{
    grid-area:negocio-foto3;
}






























footer{
    grid-area: footer;
    background-color: rgb(251, 146, 104);
}



