:root {
  --marron: #4e3727;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 30, 0, 0.068);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
strong{
    font-size:1.4rem;
    color: var(--marron);
   
}
body{
    background-color: rgb(251, 251, 251);
}

@media screen and (min-width: 1200px) {
    .container{
        
        display: grid;
       /*  grid-template-columns:530px 15% 1fr 530px; */
        grid-template-columns: calc(50vw - 530px) 15% 1fr calc(50vw - 530px);
        
        margin: 0 auto;
        grid-template-areas: 
            "... header header ..."
            "... main main ..."
            "footer footer footer footer"
            ;
           
           
    }
    /* header -------------------------------------- */
    header{
        grid-area: header;
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-areas:
        "logo nav";
        justify-content:space-between;
        align-items: center;
        height: 100px;
        background-color:rgb(255, 210, 210);
        
    }

    .logo{
        grid-area: logo;
        
    }
    .logo p strong{
        font-size:1rem
    }

    .nav{
        grid-area: nav;
        
    }
    .nav ul{
        display: flex;
        justify-content:end;  
    }

    .nav ul li{
      /* margin-left: 10px; */
      color: gray;
      font-size: 0.8rem;
      padding: 10px;
      gap: 1px;
      border: 2px solid rgba(128, 128, 128, 0);   
    }
    .nav ul li:hover {
        cursor: pointer;
        border: 2px solid gray;
    }
    /* main ---------------------------------------- */

    main{
        grid-area: main;
        background-color: white;
    }

    .sobre{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "sobre-texto sobre-texto sobre-contato";
        gap: 50px;
        margin: 30px 0 30px 0;

        
    }
    .sobre-texto {
        grid-area: sobre-texto;
    }

    .sobre-texto p:first-child {
        margin-bottom: 33px;
    }

    .sobre-texto p {
        font-size: 0.9rem;
        line-height: 1.2rem;
        color: gray;
    }
    .sobre-contato {
        width: 350px;
        height: 180px;
        padding: 10px;
        border: 1px solid;
        background-color: var(--marron);
    }
    .sobre-contato p,span {
        color: white;
    }

    .sobre-contato button {
        padding: 10px;
        border: none;
        border-radius: 15px;
        margin-bottom: 10px;
        font-weight: bold;
        box-shadow: 1px 1px 1px black;
        box-shadow: 0px 2px 1px black;
    }

    .galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "negocio-foto1 negocio-foto2 negocio-foto3";
        gap: 15px;
    }

    .negocio-texto p{
        margin-bottom: 33px;
     
    }


    .negocio-foto1 {
        grid-area: negocio-foto1;
        background-color: white;
        justify-content: center;
        position: relative;
    }
    .negocio-foto1 img {
        display: block;
        width: 100%;
        min-width: 300px;
    }
    .negocio-foto1 span {
        position: absolute;
        font-size: 1.3rem;
        top: 0px;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.205);
    }

    .negocio-foto2 {
        grid-area: negocio-foto2;
        background-color: white;
        justify-content: center;
        position: relative;
    }
    .negocio-foto2 img {
        display: block;
        width: 100%;
        min-width: 300px;
    }
    .negocio-foto2 span {
        position: absolute;
        font-size: 1.3rem;
        top: 0px;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.205);
    }

    .negocio-foto3 {
        grid-area: negocio-foto3;
        background-color: white;
        justify-content: center;
        position: relative;
    }
    .negocio-foto3 img {
        display: block;
        width: 100%;
        min-width: 250px;
    }
    .negocio-foto3 span {
        position: absolute;
        font-size: 1.3rem;
        top: 0px;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.205);
    }
    
    .galeria p{
        margin: 20px 0;
        font-size:0.8rem;
        font-weight: 1.1rem;
        color: gray;
    }
    .galeria button {
        padding: 10px;
        border: none;
        border-radius: 15px;
        margin-bottom: 30px;
        font-weight: bold;
        box-shadow: 0px 2px 1px black;
    }


    
























    footer{
        grid-area: footer;
        background-color:yellowgreen;
    }

   
    /* header {
        background-color: rgba(250, 246, 246, 0.979);
    }
    .containerheader {
        display: grid;
       
        grid-template-columns:minmax(5%,19%) 400px 590px minmax(5%, 19%);
     

        grid-template-areas: ". logo nav .";
        align-items: center;
        justify-content: space-between;
        height: 100px;
       
    }
    .logo {
        grid-area: logo;
        display: inline;
      
    }
    .nav {
        grid-area: nav;
      
    }
    .nav ul {
        display: flex;
        justify-content: end;
        
    }
    .nav ul li {
        padding: 10px;
        color: gray;
        font-size: 0.8rem;
        gap: 1px;
        border: 2px solid rgba(128, 128, 128, 0);
    }
    .nav ul li:hover {
        cursor: pointer;
        border: 2px solid gray;
    }

    

    .container {
        
        display: grid;
     
        grid-template-columns: minmax(5%,19%) 490px 490px minmax(5%,19%);
        grid-template-areas:
        "... main main ..."
        "footer footer footer footer";
    
        background-color: rgba(255, 155, 108, 0.541);
        justify-content:center
    }
   
    main {
        grid-area: main;
        background-color: white;
        
    }
   
    .sobre {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        grid-template-areas: "sobre-texto sobre-texto sobre-contato";
        gap: 50px;
        margin: 30px 0 30px 0;
    }
    .sobre-texto {
        grid-area: sobre-texto;
    }
    .sobre-texto p:first-child {
        font-size: 1.5rem;
        color: var(--marron);
        margin-bottom: 20px;
    }
    .sobre-texto p {
        font-size: 0.8rem;
        line-height: 1.2rem;
        color: gray;
    }
    .sobre-contato {
        padding: 10px;
        border: 1px solid;
        background-color: var(--marron);
    }
    .sobre-contato p,span {
        color: white;
    }
    .sobre-contato button {
        padding: 10px;
        border: none;
        border-radius: 15px;
        margin-bottom: 10px;
        font-weight: bold;
        box-shadow: 1px 1px 1px black;
        box-shadow: 0px 2px 1px black;
    }

    .galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "negocio-foto1 negocio-foto2 negocio-foto3";
        gap: 10px;
    }

    .negocio-foto1 {
        grid-area: negocio-foto1;
        background-color: red;
        justify-content: center;
        position: relative;
    }
    .negocio-foto1 img {
        display: block;
        width: 100%;
        min-width: 300px;
    }
    .negocio-foto1 span {
        position: absolute;
        top: 0px;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.205);
    }

    .negocio-foto2 {
        grid-area: negocio-foto2;
        justify-content: center;
        position: relative;
    }
    .negocio-foto2 img {
        display: block;
        width: 100%;
        min-width: 300px;
    }
    .negocio-foto2 span {
        position: absolute;
        top: 0px;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.205);
    }

    .negocio-foto3 {
        grid-area: negocio-foto3;
        justify-content: center;
        position: relative;
    }
    .negocio-foto3 img {
        display: block;
        width: 100%;
        min-width: 250px;
    }
    .negocio-foto3 span {
        position: absolute;
        top: 0px;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.205);
    }

    footer {
        grid-area: footer;
        background-color: rgb(251, 146, 104);
    } */
}


